# .env.example

# PostgreSQL database connection info
POSTGRESQL_HOST=127.0.0.1       # Must be an IPv4 address
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWD=your-password
POSTGRESQL_DB=lorawan_db

# Helium API
HELIUM_API_TOKEN=your-helium-api-token
